.navigation__container {
    background: #35353d;
    text-align: left;
}

.navigation__logo-image {
    width: 10%;
    display: inline-block;
}

.navigation__routing-container {
    height: 100%;
    display: inline-block;
}

.navigation__routing-link {
    text-decoration: none;
    color: white;
    margin-right: 1rem;
}

.navigation__registration-and-logIn {
    text-align: right;
}

.navigation__main-button {
    background: #269BD0;
    border: #278bbd;
}

.navigation__secondary-button {
    background: #4a5167;
    border: #3f4558;
}

